
.topics .list-group {
	width: 60%;
	margin-left: 20%;
}

.topics .list-group button{
	margin-bottom: 20px;
}

.topics .list-group a{
	height: 100px;
	margin-bottom: 50px;
}

.topics .btn{
	float: right;
}