<div class="topics" ng-controller="topics-controller" >
			<div ng-repeat="topic in topics | orderBy: '-score'">
	  			<div class="list-group">
				  <div class="list-group-item list-group-item-action">
				  	<p class="topic-category">{{topic.category}}</p>
				  	<p class="date-created"> <i>{{topic.date | date:'yyyy-MM-dd'}} --- USERNAME</i> </p>
				    <h2 class="list-group-item-heading">{{topic.title}}</h2>
				  </div>
				  <span class = "agree-button">
					  <button type="button" class="btn btn-default" ng-click="incrementAgree(topic._id)">AGREE</button>
				  </span>
				  <span class= "disagree-button">
					  <button type="button" class="btn btn-default" ng-click="incrementDisagree(topic._id)">DISAGREE</button>
				  </span>
				  <span class="view-button-score">
				  	<a href="#/{{topic._id}}" class="btn btn-info btn-md"  >View Topic</a>
				  	<span class="score-pos" ng-if="topic.score > 0">+ {{topic.score}} agree: {{topic.agree}} disagree: {{topic.disagree}}</span>
				  	<span class="score-neu" ng-if="topic.score == 0">+ {{topic.score}} agree: {{topic.agree}} disagree: {{topic.disagree}}</span>
				  	<span class="score-neg" ng-if="topic.score < 0"> {{topic.score}}</span>
				  </span>
				</div>
  			</div>	
		</div>

